## Read Demographic dataset

In [3]:
import pandas as pd

# Read csv file save it in dataframe
demographic_covid_df = pd.read_csv("../../data/Demographic.csv")

# save dataframe to csv file and remove headers like "DP_04M"
demographic_covid_df.to_csv('Demographic.csv', header=False, index=False)

## Display Demographic Dataset

In [4]:
# Read csv file without header and save it in dataframe
demographic_df = pd.read_csv("Demographic.csv")
demographic_df.head(2)

,id,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population!!65 years and over.1,Percent Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Male,Percent Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Percent Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,Margin of Error!!SEX AND AGE!!Total population!!65 years and over!!Female,Percent Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female
0,0500000US01001,"Autauga County, Alabama",0.4,76.5,1.2,(X),(X),55200,*****,55200,...,75,8050,(X),3488,30,43.3,0.4,4562,65,56.7
1,0500000US01003,"Baldwin County, Alabama",0.1,86.6,0.3,(X),(X),208107,*****,208107,...,69,40665,(X),18870,40,46.4,0.1,21795,56,53.6

# Drop unwanted columns

In [5]:
# Remove columns which shows margin of errors, percent estimate and percent margin of error 

demographic_df = demographic_df[demographic_df.columns.drop(list(demographic_df.filter(regex='Margin')))]
demographic_df = demographic_df[demographic_df.columns.drop(list(demographic_df.filter(regex='Percent')))]

## Split id and Geographica Area Name

In [6]:
#Select column "id" from Demographic_df, and choose a substring of each value in the column which contains county FIPS,
#and append it to a list   

county_FIPS_list = []
for i in range(len(demographic_df["id"])):
    county_FIPS_list.append(demographic_df.loc[i,'id'][9:])
    
#Add the list as a new column to the Demographic_df     
demographic_df["countyFIPS"] = county_FIPS_list

#Convert the type of countyFIPS from string to int
demographic_df['countyFIPS'] = demographic_df['countyFIPS'].astype(int)

In [7]:
# Split geographical area name into county and state name

demographic_df[['County Name','State']] = demographic_df["Geographic Area Name"].str.split(",",expand=True)

In [8]:
demographic_df.head(2)

,id,Geographic Area Name,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native,...,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,countyFIPS,County Name,State
0,0500000US01001,"Autauga County, Alabama",76.5,55200,54170,1030,54170,42437,10565,159,...,41831,20054,21777,92.1,8050,3488,4562,1001,Autauga County,Alabama
1,0500000US01003,"Baldwin County, Alabama",86.6,208107,204535,3572,204535,179526,19764,1522,...,162430,78104,84326,92.6,40665,18870,21795,1003,Baldwin County,Alabama

## In order to calcute correlation, read the confirmed cases and death datasets, and calculate the total number of confirmed cases and death for each county, merge them with Demographic dataset

In [9]:
# Read csv confirmed cases file and save it in a dataframe
confirmed_df = pd.read_csv("../../data/COVID-19 Dataset/confirmed.csv")

# Read csv death file and save it in a dataframe
death_df = pd.read_csv("../../data/COVID-19 Dataset/deaths.csv")

In [10]:
#sum up confirmed cases for each county
confirmed_df['Confirmed Total']= confirmed_df.iloc[:, 4:].sum(axis=1)

#sum up death for each county
death_df['death Total']= death_df.iloc[:, 4:].sum(axis=1)

In [11]:
# define a new dataframe for confirmed cases which contains "countyFIPS", "County Name", "Confirmed Total"
modified_confirmed_df = confirmed_df[["countyFIPS", "County Name","State", "Confirmed Total"]]

# define a new dataframe for death cases which contains "countyFIPS", "County Name", "death Total"
modified_death_df = death_df[["countyFIPS", "County Name", "State","death Total"]]

In [12]:
#merge modified dataframes based on "countyFIPS", "County Name"
modified_confirmed_death_df = pd.merge(modified_confirmed_df,modified_death_df, on = ["countyFIPS", "County Name" ,"State"])

modified_confirmed_death_df.head()

   countyFIPS            County Name State  Confirmed Total  death Total
0           0  Statewide Unallocated    AL                0            0
1        1001         Autauga County    AL            99704         1944
2        1003         Baldwin County    AL           263916         2577
3        1005         Barbour County    AL            56401          442
4        1007            Bibb County    AL            36567          394

## Merge modified_confirmed_death_df with demographic dataset and then calculate correlation of each column with total confirmed and total death of each county

In [13]:
# merge demographic df with modified_confirmed_death
covid_demographic_ConfirmedDeath_df = pd.merge(modified_confirmed_death_df,demographic_df, on = ["countyFIPS"])

In [14]:
# define a list which contains column headers of covid_demographic_ConfirmedDeath_df
columns = covid_demographic_ConfirmedDeath_df.columns
columns_modified = columns[8:-2]

In [15]:
# calculate correlation for each column with total Confirmed cases and then append it to a list
correlation_confirmed = []
for i in range(len(columns_modified)-1):
    corr = covid_demographic_ConfirmedDeath_df["Confirmed Total"].corr(covid_demographic_ConfirmedDeath_df[columns_modified[i]])
    correlation_confirmed.append([columns_modified[i], corr])

#Sort the list 
correlation_confirmed = sorted(correlation_confirmed, key=lambda x: -x[1])
correlation_confirmed[:15]

[['Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female',
  0.9108461287302899],
 ['Estimate!!SEX AND AGE!!Total population!!Female', 0.9087851900430308],
 ['Estimate!!RACE!!Total population!!One race', 0.9082269481402987],
 ['Estimate!!RACE!!Total population!!One race.1', 0.9082269481402987],
 ['Estimate!!SEX AND AGE!!Total population!!21 years and over',
  0.9079007681947657],
 ['Estimate!!SEX AND AGE!!Total population!!18 years and over',
  0.907374572471448],
 ['Estimate!!SEX AND AGE!!Total population!!18 years and over.1',
  0.907374572471448],
 ['Estimate!!SEX AND AGE!!Total population!!16 years and over',
  0.9071724383485962],
 ['Estimate!!SEX AND AGE!!Total population!!45 to 54 years',
  0.9071645953501254],
 ['Estimate!!RACE!!Total population', 0.905858378420767],
 ['Estimate!!Race alone or in combination with one or more other races!!Total population',
  0.905858378420767],
 ['Estimate!!HISPANIC OR LATINO AND RACE!!Total population',
  0.905858378420767],
 ['Estimate!!SEX AND AGE!!Total population', 0.905858378420767],
 ['Estimate!!SEX AND AGE!!Total population!!55 to 59 years',
  0.9039310887663868],
 ['Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male',
  0.9033563352657571]]

In [24]:
# calculate correlation for each column with total death and then append it to a list
correlation_death = []
for i in range(len(columns_modified)-1):
    corr = covid_demographic_ConfirmedDeath_df["death Total"].corr(covid_demographic_ConfirmedDeath_df[columns_modified[i]])
    correlation_death.append([columns_modified[i], corr])
    
#Sort the list 
correlation_death = sorted(correlation_death, key=lambda x: -x[1])
correlation_death[:15]

[['Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone',
  0.7814218482344837],
 ['Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race',
  0.7555814930287748],
 ['Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican',
  0.7326958901066519],
 ['Estimate!!Race alone or in combination with one or more other races!!Total population!!Black or African American',
  0.6898914139035232],
 ['Estimate!!RACE!!Total population!!One race!!Black or African American',
  0.683540946763305],
 ['Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino',
  0.6689532037879069],
 ['Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone',
  0.6684357701372726],
 ['Estimate!!SEX AND AGE!!Total population!!85 years and over',
  0.665369413057418],
 ['Estimate!!SEX AND AGE!!Total population!!75 to 84 years',
  0.654539411163574],
 ['Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino',
  0.6529825576766968],
 ['Estimate!!SEX AND AGE!!Total population!!65 years and over',
  0.651267306753853],
 ['Estimate!!SEX AND AGE!!Total population!!65 years and over.1',
  0.651267306753853],
 ['Estimate!!SEX AND AGE!!Total population!!62 years and over',
  0.6507390377809739],
 ['Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female',
  0.6499742420078016],
 ['Estimate!!Total housing units', 0.6480457143441315]]

## Choose important columns based on correlation values and define a new dataframe

In [17]:
# sum up "under 5" and "5 to 9"
demographic_df["Estimate!!SEX AND AGE!!Total population!!Under 10 years"]= demographic_df.iloc[:, 64:66].sum(axis=1)

# sum up "10 to 14" and "15 to 19"
demographic_df["Estimate!!SEX AND AGE!!Total population!!10 to 19 years"] = demographic_df.iloc[:, 66:68].sum(axis=1)

# sum up "20 to 24" and "25 to 34"
demographic_df["Estimate!!SEX AND AGE!!Total population!!20 to 34 years"] = demographic_df.iloc[:, 68:70].sum(axis=1)

# sum up "55 to 59" and "60 to 64"
demographic_df["Estimate!!SEX AND AGE!!Total population!!55 to 64 years"] = demographic_df.iloc[:, 72:74].sum(axis=1)

In [18]:
demographic_df.head(2)

,id,Geographic Area Name,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native,...,Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,countyFIPS,County Name,State,Estimate!!SEX AND AGE!!Total population!!Under 10 years,Estimate!!SEX AND AGE!!Total population!!10 to 19 years,Estimate!!SEX AND AGE!!Total population!!20 to 34 years,Estimate!!SEX AND AGE!!Total population!!55 to 64 years
0,0500000US01001,"Autauga County, Alabama",76.5,55200,54170,1030,54170,42437,10565,159,...,8050,3488,4562,1001,Autauga County,Alabama,7272,7425,10401,6825
1,0500000US01003,"Baldwin County, Alabama",86.6,208107,204535,3572,204535,179526,19764,1522,...,40665,18870,21795,1003,Baldwin County,Alabama,23298,27030,34116,29291

In [19]:
demographic_df_final = demographic_df[["countyFIPS", "Estimate!!SEX AND AGE!!Total population!!Under 10 years",
                                     "Estimate!!SEX AND AGE!!Total population!!10 to 19 years", "Estimate!!SEX AND AGE!!Total population!!20 to 34 years",
                                     "Estimate!!SEX AND AGE!!Total population!!35 to 44 years", "Estimate!!SEX AND AGE!!Total population!!45 to 54 years",
                                     "Estimate!!SEX AND AGE!!Total population!!55 to 64 years", "Estimate!!SEX AND AGE!!Total population!!65 to 74 years",
                                     "Estimate!!SEX AND AGE!!Total population!!75 to 84 years", "Estimate!!SEX AND AGE!!Total population!!85 years and over",
                                     "Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female", "Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male",
                                     "Estimate!!SEX AND AGE!!Total population!!Female","Estimate!!SEX AND AGE!!Total population!!Male",
                                      "Estimate!!RACE!!Total population!!One race!!White","Estimate!!RACE!!Total population!!One race!!Black or African American",
                                     "Estimate!!HISPANIC OR LATINO AND RACE!!Total population", "Estimate!!RACE!!Total population!!One race!!Asian"]]

In [20]:
demographic_df_final

,countyFIPS,Estimate!!SEX AND AGE!!Total population!!Under 10 years,Estimate!!SEX AND AGE!!Total population!!10 to 19 years,Estimate!!SEX AND AGE!!Total population!!20 to 34 years,Estimate!!SEX AND AGE!!Total population!!35 to 44 years,Estimate!!SEX AND AGE!!Total population!!45 to 54 years,Estimate!!SEX AND AGE!!Total population!!55 to 64 years,Estimate!!SEX AND AGE!!Total population!!65 to 74 years,Estimate!!SEX AND AGE!!Total population!!75 to 84 years,Estimate!!SEX AND AGE!!Total population!!85 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,Estimate!!HISPANIC OR LATINO AND RACE!!Total population,Estimate!!RACE!!Total population!!One race!!Asian
0,1001,7272,7425,10401,7374,7853,6825,4711,2524,815,4562,3488,28326,26874,42437,10565,55200,568
1,1003,23298,27030,34116,25377,28330,29291,24551,12165,3949,21795,18870,106919,101188,179526,19764,208107,1680
2,1005,2840,3111,5333,3104,3452,3308,2820,1392,422,2630,2004,12085,13697,12216,12266,25782,96
3,1007,2453,2803,4566,2895,3439,2710,2122,1112,427,2028,1633,10375,12152,17268,5018,22527,37
4,1009,7117,7712,9975,7153,7947,7508,6132,3235,866,5693,4540,29211,28434,55054,862,57645,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,5148,7310,10382,6629,7092,6847,5652,2882,1429,5521,4442,27791,25580,45626,2725,53371,0
3216,72147,1032,912,1572,1053,1077,1299,1038,504,284,976,850,4439,4332,5296,856,8771,156
3217,72149,2599,3346,4557,2641,3044,3159,2262,1145,240,2007,1640,11824,11169,12293,647,22993,0
3218,72151,3564,4298,6297,4183,4645,4822,3809,1699,832,3424,2916,17608,16541,10487,22748,34149,12
3219,72153,3655,4518,6433,4455,4889,5096,4267,2212,914,4158,3235,18964,17475,28189,1300,36439,5

## Read the main covid dataset and merge it with demographic_df_final

In [21]:
#read the covid dataset
covid_df = pd.read_csv("../../data/output/covid.csv")

In [22]:
#merge covid_df with demographic_df_final 
covid_demoghraphic_df = pd.merge(covid_df,demographic_df_final, on = "countyFIPS", how = "left")
covid_demoghraphic_df = covid_demoghraphic_df.drop(["Unnamed: 0"], axis = 1)

#display final dataframe
covid_demoghraphic_df.head()

,countyFIPS,County Name,State,population,stateFIPS,1/22/20_x,1/23/20_x,1/24/20_x,1/25/20_x,1/26/20_x,...,Estimate!!SEX AND AGE!!Total population!!75 to 84 years,Estimate!!SEX AND AGE!!Total population!!85 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,Estimate!!HISPANIC OR LATINO AND RACE!!Total population,Estimate!!RACE!!Total population!!One race!!Asian
0,0,Statewide Unallocated,AL,0,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,Autauga County,AL,55869,1,0,0,0,0,0,...,2524.0,815.0,4562.0,3488.0,28326.0,26874.0,42437.0,10565.0,55200.0,568.0
2,1003,Baldwin County,AL,223234,1,0,0,0,0,0,...,12165.0,3949.0,21795.0,18870.0,106919.0,101188.0,179526.0,19764.0,208107.0,1680.0
3,1005,Barbour County,AL,24686,1,0,0,0,0,0,...,1392.0,422.0,2630.0,2004.0,12085.0,13697.0,12216.0,12266.0,25782.0,96.0
4,1007,Bibb County,AL,22394,1,0,0,0,0,0,...,1112.0,427.0,2028.0,1633.0,10375.0,12152.0,17268.0,5018.0,22527.0,37.0

In [23]:
# save the final datafram in csv file
covid_demoghraphic_df.to_csv('covid_demoghraphic.csv',index=False)