In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [14]:
#read super Covid-19 dataframe with state as index. 
USCovid = pd.read_csv("../../../data/output/covid.csv")

In [15]:
# Clean
USCovid = USCovid.drop(["Unnamed: 0","countyFIPS","stateFIPS"], axis=1)
USCovid.drop(USCovid.loc[USCovid['County Name'] == "Statewide Unallocated"].index, inplace=True)
regex_cases = '(^[0-9]+[/]+[0-9]+[/]+[0-9]+[_]+[x])|^County Name$|^State$|^population$'
regex_deaths = '(^[0-9]+[/]+[0-9]+[/]+[0-9]+[_]+[y])|^County Name$|^State$|^population$'
USCases = USCovid.filter(regex=regex_cases)
USDeaths = USCovid.filter(regex=regex_deaths)

In [16]:
USDeaths.head()

,County Name,State,population,1/22/20_y,1/23/20_y,1/24/20_y,1/25/20_y,1/26/20_y,1/27/20_y,1/28/20_y,...,10/5/20_y,10/6/20_y,10/7/20_y,10/8/20_y,10/9/20_y,10/10/20_y,10/11/20_y,10/12/20_y,10/13/20_y,10/14/20_y
1,Autauga County,AL,55869,0,0,0,0,0,0,0,...,27,27,27,28,28,28,28,28,28,28
2,Baldwin County,AL,223234,0,0,0,0,0,0,0,...,53,55,56,64,64,65,65,65,65,66
3,Barbour County,AL,24686,0,0,0,0,0,0,0,...,7,7,7,9,9,9,9,9,9,9
4,Bibb County,AL,22394,0,0,0,0,0,0,0,...,10,10,10,12,12,12,12,12,12,13
5,Blount County,AL,57826,0,0,0,0,0,0,0,...,15,15,16,16,16,16,16,16,16,23

In [30]:
USDeaths_byStates = USDeaths.groupby('State').sum()
USDeaths_byStates=USDeaths_byStates.rename(columns=lambda x: (pd.to_datetime(x.split('_')[0], errors= 'ignore')), errors='raise')
USCases_byStates = USCases.groupby('State').sum()
USCases_byStates =USCases_byStates.rename(columns=lambda x: (pd.to_datetime(x.split('_')[0], errors= 'ignore')), errors='raise')

In [18]:
USCases_byStates.head()

,population,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,...,2020-10-05 00:00:00,2020-10-06 00:00:00,2020-10-07 00:00:00,2020-10-08 00:00:00,2020-10-09 00:00:00,2020-10-10 00:00:00,2020-10-11 00:00:00,2020-10-12 00:00:00,2020-10-13 00:00:00,2020-10-14 00:00:00
State,,,,,,,,,,,,,,,,,,,,,
AK,731545,0,0,0,0,0,0,0,0,0,...,8608,8747,8876,9003,9180,9428,9684,9875,10026,10169
AL,4903185,0,0,0,0,0,0,0,0,0,...,159713,160476,161415,161975,163464,164525,165342,166076,167188,167977
AR,3017804,0,0,0,0,0,0,0,0,0,...,85465,86202,86950,88244,89415,90292,90865,91502,92191,93218
AZ,7278717,0,0,0,0,1,1,1,1,1,...,221070,221931,222538,223400,224084,224970,225575,226050,226731,227635
CA,39512223,0,0,0,0,2,3,3,4,4,...,835628,838326,841903,845597,849466,852159,854377,857413,861888,865344

In [35]:
USCases_byStates = USCases_byStates[USCases_byStates.columns[1:]]
USCases_byStates.resample('W', axis='columns').sum()
USCases_byStates.head()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'