# Display the trends of the SC,	SD,	TN,	TX,	UT,	VA,	VT,	WA,	WI,	WV and WY state cases and deaths

In [165]:
import pandas as pd

## Variables

In [ ]:
last_day_date = '9/14/20'
week = -6
month = -30
death_tag = '_y'
cases_tag = '_x'
covid19_file_path = "../../data/output/covid.csv"

## Read covid-19 data

In [ ]:
data_frame = pd.read_csv(covid19_file_path)

## Group the data frame based on State name

In [167]:
States = data_frame.groupby(['State']).sum()

## Select the last 11 states from the States data frame

In [168]:
# The States: SC	SD	TN	TX	UT	VA	VT	WA	WI	WV	WY
last_11_states = States[40::]
last_11_states.head()

,Unnamed: 0,countyFIPS,population,stateFIPS,1/22/20_x,1/23/20_x,1/24/20_x,1/25/20_x,1/26/20_x,1/27/20_x,...,9/5/20_y,9/6/20_y,9/7/20_y,9/8/20_y,9/9/20_y,9/10/20_y,9/11/20_y,9/12/20_y,9/13/20_y,9/14/20_y
State,,,,,,,,,,,,,,,,,,,,,
SC,111907,2072116,5148714.0,2115.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2876.0,2886.0,2906.0,2911.0,2939.0,2975.0,3024.0,3040.0,3064.0,3077.0
SD,163346,3040485,884659.0,3082.0,0.0,0.0,0.0,0.0,0.0,0.0,...,173.0,173.0,173.0,173.0,173.0,177.0,177.0,183.0,184.0,184.0
TN,241872,4474025,6829174.0,4512.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1862.0,1865.0,1868.0,1893.0,1930.0,1988.0,2024.0,2064.0,2078.0,2097.0
TX,687225,12256516,28995881.0,12240.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13402.0,13466.0,13485.0,13546.0,13686.0,13847.0,13991.0,14138.0,14185.0,14206.0
UT,85125,1421841,3205958.0,1470.0,0.0,0.0,0.0,0.0,0.0,0.0,...,420.0,422.0,423.0,424.0,427.0,430.0,431.0,433.0,433.0,436.0
VA,434888,7489209,8535519.0,7497.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2677.0,2677.0,2683.0,2685.0,2696.0,2707.0,2711.0,2722.0,2724.0,2743.0
VT,42900,700196,623989.0,750.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.0,58.0,58.0,58.0,58.0,58.0,58.0,58.0,58.0,58.0
WA,120860,2068521,7614893.0,2120.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1950.0,1950.0,1950.0,1950.0,1976.0,1983.0,1991.0,1991.0,1991.0,2006.0
WI,228782,3965119,5822434.0,4015.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1167.0,1167.0,1167.0,1168.0,1183.0,1193.0,1197.0,1209.0,1210.0,1210.0
WV,171892,2973025,1792147.0,3024.0,0.0,0.0,0.0,0.0,0.0,0.0,...,242.0,245.0,246.0,250.0,253.0,255.0,262.0,264.0,264.0,275.0
WY,76380,1288529,578759.0,1344.0,0.0,0.0,0.0,0.0,0.0,0.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,42.0,46.0

## Display the cases for the last 7 days

In [169]:
states_cases = last_11_states.columns.get_loc(last_day_date + cases_tag)
last_7day_states_cases=last_11_states[last_11_states.columns[states_cases+week:states_cases+1]]
last_7day_states_cases

,9/8/20_x,9/9/20_x,9/10/20_x,9/11/20_x,9/12/20_x,9/13/20_x,9/14/20_x
State,,,,,,,
SC,125881.0,126176.0,126592.0,129045.0,129978.0,131864.0,132680.0
SD,15398.0,15570.0,15834.0,16117.0,16437.0,16638.0,16801.0
TN,165715.0,166587.0,168237.0,169856.0,170891.0,171824.0,174274.0
TX,650146.0,654570.0,658588.0,662083.0,666524.0,670026.0,672641.0
UT,55382.0,55689.0,56048.0,56657.0,57300.0,57920.0,58451.0
VA,128400.0,129283.0,130519.0,131637.0,132939.0,133811.0,134571.0
VT,1654.0,1654.0,1660.0,1668.0,1677.0,1684.0,1696.0
WA,77541.0,78007.0,78464.0,79011.0,79476.0,79825.0,80138.0
WI,82474.0,83333.0,84880.0,86250.0,87603.0,89184.0,89956.0
WV,11654.0,11802.0,12002.0,12168.0,12518.0,12693.0,12820.0
WY,4102.0,4151.0,4196.0,4260.0,4292.0,4341.0,4392.0

## Display the death for the last 7 days

In [170]:
states_death = last_11_states.columns.get_loc(last_day_date + death_tag)
last_7day_states_death=last_11_states[last_11_states.columns[states_death+week:states_death+1]]
last_7day_states_death

,9/8/20_y,9/9/20_y,9/10/20_y,9/11/20_y,9/12/20_y,9/13/20_y,9/14/20_y
State,,,,,,,
SC,2911.0,2939.0,2975.0,3024.0,3040.0,3064.0,3077.0
SD,173.0,173.0,177.0,177.0,183.0,184.0,184.0
TN,1893.0,1930.0,1988.0,2024.0,2064.0,2078.0,2097.0
TX,13546.0,13686.0,13847.0,13991.0,14138.0,14185.0,14206.0
UT,424.0,427.0,430.0,431.0,433.0,433.0,436.0
VA,2685.0,2696.0,2707.0,2711.0,2722.0,2724.0,2743.0
VT,58.0,58.0,58.0,58.0,58.0,58.0,58.0
WA,1950.0,1976.0,1983.0,1991.0,1991.0,1991.0,2006.0
WI,1168.0,1183.0,1193.0,1197.0,1209.0,1210.0,1210.0
WV,250.0,253.0,255.0,262.0,264.0,264.0,275.0
WY,42.0,42.0,42.0,42.0,42.0,42.0,46.0