In [8]:
import pandas as pd

In [9]:
path = '../data/ESH/Housing.csv'
data_frame_housing = pd.read_csv(path)

c:\users\codingtheories\pycharmprojects\covid-team-5\venv\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (2,3,4,6,7,8,9,10,11,12,13,14,15,18,19,22,23,24,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,150,151,152,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,182,183,184,185,186,187,188,189,190,191,194,195,198,199,200,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,358,359,360,362,363,364,365,366,367,368,369,370,371,372,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,406,407,408,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,438,439,440,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,466,467,468,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,502,503,504,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,538,539,542,543,544,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
def find_fips(data_frame: pd.DataFrame, column_name:str = "GEO_ID", split_at:str = 'US') -> pd.DataFrame:
    for i in range(data_frame.shape[0]):
        val = data_frame[column_name].values[i]
        try:
            _, fips = val.split(split_at)
            data_frame.at[i, column_name] = fips
        except:
            pass
    return data_frame

In [11]:
data_frame_housing = pd.read_csv(path)

find_fips(data_frame_housing).to_csv("../data/output/test2.csv")

In [12]:
data_frame_housing.tail()

,GEO_ID,NAME,DP04_0001E,DP04_0001M,DP04_0001PE,DP04_0001PM,DP04_0002E,DP04_0002M,DP04_0002PE,DP04_0002PM,...,DP04_0141PE,DP04_0141PM,DP04_0142E,DP04_0142M,DP04_0142PE,DP04_0142PM,DP04_0143E,DP04_0143M,DP04_0143PE,DP04_0143PM
3216,72145,"Vega Baja Municipio, Puerto Rico",24596,283,24596,(X),18081,547,73.5,1.9,...,6.4,3.7,755,258,41.3,10.5,1855,291,(X),(X)
3217,72147,"Vieques Municipio, Puerto Rico",4934,186,4934,(X),2470,266,50.1,4.9,...,3.1,4.7,172,110,44.8,19.4,294,156,(X),(X)
3218,72149,"Villalba Municipio, Puerto Rico",9089,211,9089,(X),7712,261,84.8,2.1,...,11.3,7.2,275,97,26.6,8.8,1203,189,(X),(X)
3219,72151,"Yabucoa Municipio, Puerto Rico",14736,264,14736,(X),11722,400,79.5,2.4,...,7.3,4.1,689,176,55.7,10.1,1995,295,(X),(X)
3220,72153,"Yauco Municipio, Puerto Rico",17427,211,17427,(X),10790,366,61.9,1.8,...,3.8,4.5,364,114,44.6,11.1,1830,275,(X),(X)