# Trend calculation for MI state

In [1]:
import pandas as pd

In [2]:
#read the covid csv file 
read_covid19 = pd.read_csv('../../data/output/covid.csv')

In [39]:
#group all the county by state 
group_by_States = covid_df.groupby(['State']).sum()

### Get the data for MI state

In [12]:
MI_state = group_by_States[22:23:]
MI_state

,Unnamed: 0,countyFIPS,population,stateFIPS,1/22/20_x,1/23/20_x,1/24/20_x,1/25/20_x,1/26/20_x,1/27/20_x,...,9/5/20_y,9/6/20_y,9/7/20_y,9/8/20_y,9/9/20_y,9/10/20_y,9/11/20_y,9/12/20_y,9/13/20_y,9/14/20_y
State,,,,,,,,,,,,,,,,,,,,,
MI,108822,2164889,9986857,2184,0,0,0,0,0,0,...,6802,6802,6807,6810,6871,6893,6900,6911,6911,6921

### Get the trend for cases for the most recent week

In [41]:
MI_state_death= MI_state.iloc[:1, 234:241]
MI_state_death

,9/8/20_x,9/9/20_x,9/10/20_x,9/11/20_x,9/12/20_x,9/13/20_x,9/14/20_x
State,,,,,,,
MI,118894,119851,120838,122246,123032,123032,124287

### Get the trend for death for the most recent week

In [42]:
MI_state_cases = MI_state.iloc[:,-7:]
MI_state_cases

,9/8/20_y,9/9/20_y,9/10/20_y,9/11/20_y,9/12/20_y,9/13/20_y,9/14/20_y
State,,,,,,,
MI,6810,6871,6893,6900,6911,6911,6921

## In Michigan, we observe that the trend in both the numbers of daily cases and the death are directly proportional; that is to say as the number of cases increases every day, the number of death increases as well. We can notice that on 9/12/20 and 9/13/20  the numbers of cases was constant and the number of death also. To sum up, for the week of 9/8/20 - 9/14/20 there was an increase in the numbers of cases and death.