In [117]:
import pandas as pd
import numpy as np

In [118]:
regex = '(^[a-z|A-Z|0-9]+[_]+([0-9]+)+[E])|^GEO_ID$|^NAME$'
path_economic = '../../data/ESH/Economic.csv'
path_covid = '../../data/output/covid.csv'
df_covid = pd.read_csv(path_covid)
df_economic = pd.read_csv(path_economic)

df_economic = df_economic.filter(regex=regex)
# df_economic.to_csv("economic.csv", index=False)
df_economic.index

c:\users\codingtheories\pycharmprojects\csc-405-605_2020_assignment\venv\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,36,37,38,39,40,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,58,59,60,61,62,63,64,66,67,68,69,70,71,72,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,250,251,254,255,256,257,258,259,262,263,264,265,266,267,270,271,272,273,274,275,278,279,280,281,286,287,288,289,294,295,296,297,298,299,300,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,346,347,350,351,354,355,356,358,359,362,363,366,367,370,371,374,375,378,379,380,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,402,403,404,405,406,407,408,410,411,412,414,415,416,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,476,477,480,481,484,485,488,489,492,493,496,497,500,501,504,505,512,513,516,517,520,521,524,525,528,529,532,533,536,537,540,541,544,545,548,549) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

RangeIndex(start=0, stop=3221, step=1)

In [119]:
df_economic = df_economic[
    ['GEO_ID', 'DP03_0001E','DP03_0002E','DP03_0003E','DP03_0004E','DP03_0005E','DP03_0006E','DP03_0007E','DP03_0008E','DP03_0009E','DP03_0032E','DP03_0032E','DP03_0033E','DP03_0034E','DP03_0035E','DP03_0036E','DP03_0037E','DP03_0038E','DP03_0039E','DP03_0040E','DP03_0041E','DP03_0042E','DP03_0043E','DP03_0044E','DP03_0045E','DP03_0075E','DP03_0076E','DP03_0077E','DP03_0078E','DP03_0079E','DP03_0080E','DP03_0081E','DP03_0082E','DP03_0083E','DP03_0084E','DP03_0085E','DP03_0086E','DP03_0087E','DP03_0128E','DP03_0129E','DP03_0130E','DP03_0131E','DP03_0132E','DP03_0133E','DP03_0134E','DP03_0135E','DP03_0136E','DP03_0137E']
]
df_economic = df_economic.drop(df_economic.index[0])
df_economic.index = np.arange(0, len(df_economic))
df_economic.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            3210, 3211, 3212, 3213, 3214, 3215, 3216, 3217, 3218, 3219],
           dtype='int64', length=3220)

In [120]:
def find_fips(data_frame: pd.DataFrame, column_name:str = "GEO_ID", split_at:str = 'US') -> pd.DataFrame:
    for i in range(data_frame.shape[0]):
        val = data_frame[column_name].values[i]
        try:
            _, fips = val.split(split_at)
            data_frame.at[i, column_name] = int(fips)
        except:
            pass
    return data_frame

df_economic = find_fips(df_economic)
df_economic = df_economic.rename(columns={'GEO_ID':'countyFIPS'})
df_economic

,countyFIPS,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,DP03_0008E,DP03_0009E,...,DP03_0128E,DP03_0129E,DP03_0130E,DP03_0131E,DP03_0132E,DP03_0133E,DP03_0134E,DP03_0135E,DP03_0136E,DP03_0137E
0,1001,43368,25736,25189,24124,1065,547,17632,25189,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
1,1003,167712,98030,97722,93379,4343,308,69682,97722,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,1005,20948,9638,9638,8720,918,0,11310,9638,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,1007,18470,8757,8757,8099,658,0,9713,8757,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,1009,45915,22306,22255,21346,909,51,23609,22255,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,43815,17633,17633,14314,3319,0,26182,17633,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3216,72147,7042,2922,2922,2487,435,0,4120,2922,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3217,72149,18663,8608,8581,6625,1956,27,10055,8581,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3218,72151,28146,10884,10853,8044,2809,31,17262,10853,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3219,72153,30226,11146,11146,8924,2222,0,19080,11146,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [121]:
covid_df = pd.merge(df_covid, df_economic, on = ["countyFIPS"],  how='left')
covid_df

,Unnamed: 0,countyFIPS,County Name,State,population,County Name_x,stateFIPS,1/22/20_x,1/23/20_x,1/24/20_x,...,DP03_0128E,DP03_0129E,DP03_0130E,DP03_0131E,DP03_0132E,DP03_0133E,DP03_0134E,DP03_0135E,DP03_0136E,DP03_0137E
0,0,0,Statewide Unallocated,AL,0,Statewide Unallocated,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1001,Autauga County,AL,55869,Autauga County,1,0,0,0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,2,1003,Baldwin County,AL,223234,Baldwin County,1,0,0,0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,3,1005,Barbour County,AL,24686,Barbour County,1,0,0,0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,4,1007,Bibb County,AL,22394,Bibb County,1,0,0,0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,3190,56037,Sweetwater County,WY,42343,Sweetwater County,56,0,0,0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3191,3191,56039,Teton County,WY,23464,Teton County,56,0,0,0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3192,3192,56041,Uinta County,WY,20226,Uinta County,56,0,0,0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3193,3193,56043,Washakie County,WY,7805,Washakie County,56,0,0,0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3194,3194,56045,Weston County,WY,6927,Weston County,56,0,0,0,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [122]:
# indexes= df_covid[df_covid['countyFIPS'] == 0].index

# df_covid.drop(indexes, inplace=True)
# df_covid.to_csv("covid.csv", index=False)

covid_df.to_csv("covid_and_economic.csv", index=False)
df_economic.tail()

,countyFIPS,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,DP03_0008E,DP03_0009E,...,DP03_0128E,DP03_0129E,DP03_0130E,DP03_0131E,DP03_0132E,DP03_0133E,DP03_0134E,DP03_0135E,DP03_0136E,DP03_0137E
3215,72145,43815,17633,17633,14314,3319,0,26182,17633,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3216,72147,7042,2922,2922,2487,435,0,4120,2922,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3217,72149,18663,8608,8581,6625,1956,27,10055,8581,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3218,72151,28146,10884,10853,8044,2809,31,17262,10853,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3219,72153,30226,11146,11146,8924,2222,0,19080,11146,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)