In [92]:
import pandas as pd

In [93]:
path = '../ACS_ESH/Housing.csv'
data_frame_housing = pd.read_csv(path)

In [94]:
def find_fips(data_frame: pd.DataFrame, column_name:str = "GEO_ID", split_at:str = 'US') -> pd.DataFrame:
    for i in range(data_frame.shape[0]):
        val = data_frame[column_name].values[i]
        try:
            _, fips = val.split(split_at)
            data_frame.at[i, column_name] = fips
        except:
            pass
    return data_frame

In [95]:
data_frame_housing = pd.read_csv(path)

find_fips(data_frame_housing).to_csv("test2.csv")

,GEO_ID,NAME,DP04_0039M,DP04_0039PE,DP04_0039PM,DP04_0040E,DP04_0040M,DP04_0040PE,DP04_0040PM,DP04_0041E,...,DP04_0036PM,DP04_0037E,DP04_0037M,DP04_0037PE,DP04_0037PM,DP04_0038E,DP04_0038M,DP04_0038PE,DP04_0038PM,DP04_0039E
0,id,Geographic Area Name,Margin of Error!!BEDROOMS!!Total housing units...,Percent Estimate!!BEDROOMS!!Total housing unit...,Percent Margin of Error!!BEDROOMS!!Total housi...,Estimate!!BEDROOMS!!Total housing units!!1 bed...,Margin of Error!!BEDROOMS!!Total housing units...,Percent Estimate!!BEDROOMS!!Total housing unit...,Percent Margin of Error!!BEDROOMS!!Total housi...,Estimate!!BEDROOMS!!Total housing units!!2 bed...,...,Percent Margin of Error!!ROOMS!!Total housing ...,Estimate!!ROOMS!!Total housing units!!Median r...,Margin of Error!!ROOMS!!Total housing units!!M...,Percent Estimate!!ROOMS!!Total housing units!!...,Percent Margin of Error!!ROOMS!!Total housing ...,Estimate!!BEDROOMS!!Total housing units,Margin of Error!!BEDROOMS!!Total housing units,Percent Estimate!!BEDROOMS!!Total housing units,Percent Margin of Error!!BEDROOMS!!Total housi...,Estimate!!BEDROOMS!!Total housing units!!No be...
1,01103,"Morgan County, Alabama",747,1.8,1.4,2938,839,5.6,1.6,11884,...,2.4,6,0.2,(X),(X),52284,484,52284,(X),950
2,06031,"Kings County, California",352,0.9,0.8,2205,757,4.7,1.6,10237,...,1.1,5.3,0.2,(X),(X),46649,383,46649,(X),441
3,06053,"Monterey County, California",1529,4.9,1.1,16748,2013,11.8,1.4,37983,...,0.8,5,0.2,(X),(X),142414,620,142414,(X),7006
4,06057,"Nevada County, California",729,2.7,1.3,5128,985,9.5,1.8,13154,...,1.7,5.6,0.1,(X),(X),54264,232,54264,(X),1463

In [96]:
data_frame_housing.tail()

,GEO_ID,NAME,DP04_0039M,DP04_0039PE,DP04_0039PM,DP04_0040E,DP04_0040M,DP04_0040PE,DP04_0040PM,DP04_0041E,...,DP04_0036PM,DP04_0037E,DP04_0037M,DP04_0037PE,DP04_0037PM,DP04_0038E,DP04_0038M,DP04_0038PE,DP04_0038PM,DP04_0039E
834,55101,"Racine County, Wisconsin",656,1.7,0.8,6783,1235,8.2,1.5,23610,...,1.4,5.6,0.3,(X),(X),82908,673,82908,(X),1431
835,72021,"Bayamón Municipio, Puerto Rico",633,2.6,0.8,4251,928,5.1,1.1,12218,...,0.7,5.3,0.1,(X),(X),82901,1939,82901,(X),2120
836,72113,"Ponce Municipio, Puerto Rico",361,1.1,0.6,3847,831,5.9,1.3,12613,...,0.6,4.9,0.1,(X),(X),65299,1787,65299,(X),744
837,72135,"Toa Alta Municipio, Puerto Rico",255,1.3,1,246,201,0.9,0.7,3214,...,0.7,5.1,0.1,(X),(X),26421,1187,26421,(X),346
838,72137,"Toa Baja Municipio, Puerto Rico",308,1.6,0.9,630,373,1.8,1.1,4668,...,0.7,4.9,0.1,(X),(X),34796,1156,34796,(X),544