In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [2]:
#read super Covid-19 dataframe with state as index. 
USCovid = pd.read_csv("../data/output/covid.csv")
CountryNewCases = pd.read_csv("https://covid.ourworldindata.org/data/ecdc/new_cases.csv")
CountryNewCases = CountryNewCases[["date","Bangladesh","Indonesia","Pakistan","Brazil","Nigeria"]]

USCovid = USCovid.drop(["Unnamed: 0","countyFIPS","stateFIPS"], axis=1)

In [3]:
covid_df = USCovid.drop(USCovid.loc[USCovid['County Name'] == "Statewide Unallocated"].index)
sums = covid_df.select_dtypes(pd.np.number).sum(axis = 0).rename('UnitedStates')

In [4]:
sums = sums.to_frame()
US_cases = sums.filter(regex = "x", axis = 0)
US_deaths = sums.filter(regex = "y",axis = 0)

In [5]:
US_cases

            UnitedStates
1/22/20_x              1
1/23/20_x              1
1/24/20_x              2
1/25/20_x              2
1/26/20_x              5
...                  ...
10/10/20_x       7611682
10/11/20_x       7654894
10/12/20_x       7697464
10/13/20_x       7747873
10/14/20_x       7807657

[267 rows x 1 columns]

In [7]:
US_deaths

            UnitedStates
1/22/20_y              0
1/23/20_y              0
1/24/20_y              0
1/25/20_y              0
1/26/20_y              0
...                  ...
10/10/20_y        211870
10/11/20_y        212371
10/12/20_y        212657
10/13/20_y        213420
10/14/20_y        214116

[267 rows x 1 columns]

In [8]:
NewUScases = US_cases.diff()
NewUScases.head(20)

           UnitedStates
1/22/20_x           NaN
1/23/20_x           0.0
1/24/20_x           1.0
1/25/20_x           0.0
1/26/20_x           3.0
1/27/20_x           1.0
1/28/20_x           0.0
1/29/20_x           1.0
1/30/20_x           0.0
1/31/20_x           1.0
2/1/20_x            1.0
2/2/20_x            0.0
2/3/20_x            2.0
2/4/20_x            0.0
2/5/20_x            0.0
2/6/20_x            0.0
2/7/20_x            0.0
2/8/20_x            0.0
2/9/20_x            0.0
2/10/20_x           0.0

In [9]:
NewUSdeaths = US_deaths.diff()
NewUSdeaths.head(20)

           UnitedStates
1/22/20_y           NaN
1/23/20_y           0.0
1/24/20_y           0.0
1/25/20_y           0.0
1/26/20_y           0.0
1/27/20_y           0.0
1/28/20_y           0.0
1/29/20_y           0.0
1/30/20_y           0.0
1/31/20_y           0.0
2/1/20_y            0.0
2/2/20_y            0.0
2/3/20_y            0.0
2/4/20_y            0.0
2/5/20_y            0.0
2/6/20_y            1.0
2/7/20_y            0.0
2/8/20_y            0.0
2/9/20_y            0.0
2/10/20_y           0.0

In [10]:
WeeklyUS_cases = NewUScases.groupby(np.arange(len(NewUScases))//7).mean().round(0).astype(int).rename_axis('Week')
WeeklyUS_deaths = NewUSdeaths.groupby(np.arange(len(NewUSdeaths))//7).mean().round(0).astype(int).rename_axis('Week')

In [11]:
WeeklyUS_cases

      UnitedStates
Week
0                1
1                1
2                0
3                0
4                1
5                9
6              135
7              733
8             6648
9            18325
10           29857
11           29708
12           28389
13           29023
14           27093
15           23401
16           22237
17           21586
18           21182
19           20945
20           22479
21           29293
22           40777
23           50347
24           60848
25           66123
26           63909
27           58055
28           52753
29           47374
30           41508
31           41644
32           36565
33           38000
34           42457
35           41225
36           43722
37           50488
38           59784

In [12]:
WeeklyUS_deaths

      UnitedStates
Week
0                0
1                0
2                0
3                0
4                0
5                1
6                4
7               10
8               86
9              435
10            1281
11            2009
12            2158
13            1923
14            1910
15            1684
16            1401
17            1037
18            1037
19             826
20             683
21             619
22             894
23             571
24             708
25             778
26             908
27            1198
28            1054
29            1020
30             966
31             921
32             699
33             842
34             722
35             724
36             680
37             701
38             696

In [14]:
US_MeanCases = WeeklyUS_cases.mean().round(2)
US_MeanDeaths = WeeklyUS_deaths.mean().round(2)
US_MedianCases = WeeklyUS_cases.median()
US_MedianDeaths = WeeklyUS_deaths.median()
US_ModeCases = WeeklyUS_cases.mode()
US_ModeDeaths = WeeklyUS_deaths.mode()

US_ModeCases = US_ModeCases.values.tolist()

In [15]:
USList = [["United States",US_MeanCases[0],US_MedianCases[0],US_ModeCases[0][0]]]
USList

[['United States', 29913.46, 29293.0, 1]]

In [16]:
CountryWeeklyStatistics = pd.DataFrame(USList, columns = ['Country','Mean', 'Median', 'Mode'])

CountryWeeklyStatistics

         Country      Mean   Median  Mode
0  United States  29913.46  29293.0     1

In [42]:
Country_NewCases = CountryNewCases[22:290].fillna(0)
Country_NewCases.head()

          date  Bangladesh  Indonesia  Pakistan  Brazil  Nigeria
22  2020-01-22         0.0        0.0       0.0       0      0.0
23  2020-01-23         0.0        0.0       0.0       0      0.0
24  2020-01-24         0.0        0.0       0.0       0      0.0
25  2020-01-25         0.0        0.0       0.0       0      0.0
26  2020-01-26         0.0        0.0       0.0       0      0.0

In [43]:
WeeklyCountries_cases = Country_NewCases.groupby(np.arange(len(Country_NewCases))//7).mean().round(0).astype(int).rename_axis('Week')
WeeklyCountries_cases

      Bangladesh  Indonesia  Pakistan  Brazil  Nigeria
Week
0              0          0         0       0        0
1              0          0         0       0        0
2              0          0         0       0        0
3              0          0         0       0        0
4              0          0         0       0        0
5              0          0         1       0        0
6              0          1         2       3        0
7              0         18        24      30        0
8              4         64       100     237        5
9              2        119       105     384       13
10            11        154       320    1068       15
11            97        295       265    1625       15
12           306        315       500    2450       46
13           424        334       695    3703       96
14           604        356      1060    5897      209
15           793        383      1511    8650      263
16          1168        535      1698   12270      219
17          1674        677      1963   17240      270
18          1993        599      2670   21650      359
19          2710        728      4560   25852      318
20          3159       1037      5801   25837      551
21          3595       1079      5159   31171      609
22          3716       1178      3472   37389      602
23          3402       1409      3596   36441      593
24          3039       1718      2728   37383      552
25          2937       1605      1785   33383      582
26          2682       1727      1304   46247      565
27          2268       1833       748   43992      421
28          2629       1993       676   43879      391
29          2662       2041       663   43157      374
30          2563       2006       554   37613      438
31          2273       2769       348   40773      209
32          2052       3170       441   34217      165
33          1710       3505       456   28259      175
34          1613       3904       637   30351      150
35          1419       4267       661   26771      146
36          1368       4057       602   25967      144
37          1372       4228       589   25168      138
38          1610       4016       685   18728      202

In [50]:
FiveCountry_MeanCases = WeeklyCountries_cases.mean().round(2)
FiveCountry_MedianCases = WeeklyCountries_cases.median()
FiveCountry_ModeCases = WeeklyCountries_cases.mode()

FiveCountry_ModeCases = FiveCountry_ModeCases.values.tolist()

In [64]:
List = [["United States",US_MeanCases[0],US_MedianCases[0],US_ModeCases[0][0]],
        ["Bangladesh", FiveCountry_MeanCases[0],FiveCountry_MedianCases[0],FiveCountry_ModeCases[0][0]],
        ["Indonesia", FiveCountry_MeanCases[1],FiveCountry_MedianCases[1],FiveCountry_ModeCases[0][1]],
        ["Pakistan", FiveCountry_MeanCases[2],FiveCountry_MedianCases[2],FiveCountry_ModeCases[0][2]],
        ["Brazil", FiveCountry_MeanCases[3],FiveCountry_MedianCases[3],FiveCountry_ModeCases[0][3]],
       ["Nigeria", FiveCountry_MeanCases[4],FiveCountry_MedianCases[4],FiveCountry_ModeCases[0][4]]]

In [66]:
CountryWeeklyStatisticsCase = pd.DataFrame(List, columns = ['Country','Mean', 'Median', 'Mode'])

CountryWeeklyStatisticsCase

         Country      Mean   Median  Mode
0  United States  29913.46  29293.0     1
1     Bangladesh   1432.18   1419.0     0
2      Indonesia   1336.41    728.0     0
3       Pakistan   1189.21    637.0     0
4         Brazil  19173.97  21650.0     0
5        Nigeria    226.54    175.0     0

# United States